<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Administrar Ingredientes
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                        data-target="#crearIngredient">Nuevo Ingrediente</button>
                </div>
                <div class="modal fade" id="crearIngredient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Crear Ingrediente</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="form">
                                    <div class="form-group">
                                        <input type="text" name="Nombre Ingrediente" formControlName="txtname"
                                            placeholder="Insertar nombre ingrediente" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="Calorias Ingrediente" formControlName="txtcalories"
                                            placeholder="Insertar calorias ingrediente" class="form-control">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary" (click)="crearIngredients()"
                                            data-dismiss="modal">Crear</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-hover bg-white">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Calorias</th>
                        <th>Estado</th>
                        <th class="d-flex justify-content-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of ingredients">
                        <td>
                            {{i.ing_id}}
                        </td>
                        <td>
                            {{i.ing_name}}
                        </td>
                        <td>
                            {{i.ing_calories}}
                        </td>
                        <td>
                            {{i.ing_state}}
                        </td>
                        <td class="d-flex justify-content-center">
                            <a class="btn btn-danger" (click)="eliminarIngredients(i.ing_id)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            <a class="btn btn-success" data-toggle="modal" data-target="#editarIngredients"
                                (click)="infoUpdateIngredients(i.ing_id,i.ing_name,i.ing_calories,i.ing_state)">
                                <i class="fas fa-edit"></i>
                            </a>

                            <div class="modal fade" id="editarIngredients" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Editar Ingrediente</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form [formGroup]="form">
                                                <div class="form-group">
                                                    <label>
                                                        <h6>Id Ingrediente:{{informacionIngredients.ing_id}}</h6>
                                                    </label>
                                                    <input type="text" name="Nombre Ingrediente" formControlName="txtname"
                                                        placeholder="{{informacionIngredients.ing_name}}" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" name="Calorias Ingrediente" formControlName="txtcalories"
                                                        placeholder="{{informacionIngredients.ing_calories}}" class="form-control">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-primary" (click)="actualizarIngredients(informacionIngredients.ing_id)"
                                                        data-dismiss="modal">Actualizar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

